/* Regole generali */
* {
    margin: 0;
    padding: 0;
}

.center {
    margin: 0 auto;
}

/* body */
.container {
    width: 1000px;
    padding-top: 100px;
}

/* Box prodotti */
.box {
    display: inline-block;
    width: 32%;
    background-color: #f5f5eb;
    position: relative;
}

/* *** SCONTO *** */
.sconto {
    background-color: #2b7c19;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 5px;
}

.verde {
    background-color: #2b7c19;
}

.rosso {
    background-color: #f02828;
}

/* *** PRODOTTO *** */
.prodotto {
    height: 300px;
}

.img {
    position: absolute;
}

.ipad {
    height: 280px;
    left: 40px;
    top: 20px;
}

.iphone {
    height: 250px;
    left: 35px;
    top: 45px;
}

.cuffie {
    height: 250px;
    right: 0;
    top: 48px;
}

/* *** CUORE FOOTER *** */
.container-cuore {
    height: 35px;
}

.cuore {
    display: none;
    height: 25px;
    padding-bottom: 15px;
}

.box:hover .cuore {
    display: block;
}

/* ********************* */
