/* Regole generali */
* {
    margin: 0;
    padding: 0;
}

html {
  font-family: sans-serif;
}

.center {
    margin: 0 auto;
}

/* navbar */
.nav{
    background-color: #24344e;
    height: 60px;
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    margin-right: 50px;
    position: absolute;
    top: 15px;
    left: 25px;
    text-decoration: none;
    color: white;
}

.menu {
    /* text-align: center; */
    position: relative;
    top: 20px;
    left: 430px;
}

.items {
    margin: 30px;
    text-decoration: none;
    color: white;
}

.form-element {
    color: #495057;
    width: 180px;
    padding: 6px 4px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
    opacity: 0.98;
}

.form-element:focus {
  color: #3c4247;
  border-color: #80bdff;
  background-color: white;
  opacity: 1;
}

.form-element::placeholder {
  color: #6c757e;
  opacity: 0.98;
}

.login {
    position: absolute;
    right: 10px;
    top: 15px;
    /* padding-top: 10px;
    padding-right: 25px; */
}

/* body */
.container {
    width: 1000px;
    padding-top: 100px;
}

/* Box prodotti */
.box {
    display: inline-block;
    width: 32%;
    background-color: #f5f5eb;
    position: relative;
}

/* *** SCONTO *** */
.sconto {
    background-color: #2b7c19;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 5px;
}

.verde {
    background-color: #2b7c19;
}

.rosso {
    background-color: #f02828;
}

/* *** PRODOTTO *** */
.prodotto {
    height: 300px;
}

.img {
    position: absolute;
}

.ipad {
    height: 280px;
    left: 40px;
    top: 20px;
}

.iphone {
    height: 250px;
    left: 35px;
    top: 45px;
}

.cuffie {
    height: 250px;
    right: 0;
    top: 48px;
}

/* *** CUORE FOOTER *** */
.container-cuore {
    height: 35px;
}

.cuore {
    display: none;
    height: 25px;
    padding-bottom: 15px;
}

.box:hover .cuore {
    display: block;
}

/* ********************* */
